body {
  margin: 0;
  direction: rtl;
  font-family: "heebo";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
